     <div class="table-responsive mt-2">
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ürün</th>
                    <th scope="col">İşlem</th>
                </tr>
            </thead>
            <tbody>
                {% for sira_urun in sira_urunler %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <a href="{% url 'urun' sira_urun.urun.slug %}" class="text-decoration-none">
                            {{ sira_urun.urun.kategori }} > {{ sira_urun.urun.ad }}</td>
                            </a>
                        </a>
                        <td>
                            <a href="{% url 'sira_urun_sil' sira_urun.sira.slug sira_urun.id %}" class="btn btn-danger btn-sm">Sil</a>
                        </td>
                    </tr>
                    {% empty %}
                    <div class="alert alert-warning mt-4" role="alert">
                    Sıra envanterinizde ürün bulunmamaktadır.
                    </div>
                {% endfor %}
            </tbody>
        </table>
    </div>

