
                                        <form
                                            id="category-form-create"
                                            action="{% url 'kategori_ekle' %}"
                                            method="POST"
                                        >
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <div class="input-group mb-3">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Kategori Adı"
                                                    aria-label="Kategori Adı"
                                                    aria-describedby="button-addon2"
                                                    name="ad"
                                                    required
                                                />

                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Kategori Açıklama"
                                                    aria-label="Kategori Açıklama"
                                                    aria-describedby="button-addon2"
                                                    name="aciklama"
                                                    required
                                                />
                                                <button
                                                    class="btn btn-success"
                                                    type="submit"
                                                    id="button-addon2"
                                                >
                                                    Kaydet
                                                </button>
                                            </div>
                                        </form>
