<!-- Base Template -->
{% extends 'layout/_base.html' %}
<!-- Static Files -->
{% load static %}

<!-- Title -->
{% block title %}- Home{% endblock %}
<!-- OG Title -->
{% block og_title %}Home{% endblock %}
<!-- TW Title -->
{% block tw_title %}Home{% endblock %}
<!-- Keywords -->
{% block keywords %}otomat, vending, otomasyon, crm, django{% endblock %}
<!-- Description -->
{% block description %}Otomat app{% endblock %}
<!-- OG Description -->
{% block og_description %}Otomat app{% endblock %}
<!-- TW Description -->
{% block tw_description %}Otomat app{% endblock %}
<!-- STYLE -->
{% block style %} home { background-color: red !important; } {% endblock %}
<!-- Body -->
{% block body %}
<section class="mt-4" aria-label="Home" id="home">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="fs-1"><strong>OTOMAT YÖNETİM PANELİ</strong></h1>

                <h2 class="fw-normal fs-2 mt-4">Hoşgeldiniz!</h2>
                <p class="lead">
                    Bu panelde ürün, kategori ve otomat yönetimi yapabilirsiniz.
                </p>
            </div>
        </div>

        <hr>

        <div class="row my-4 justify-content-center align-items-center text-center">

            <div class="col-lg-4 col-md-6">
                <a href="{% url 'kategoriler' %}" class="btn btn-primary btn-lg w-100 dashboard-button text-light fw-bold fs-5 text-align-center my-2">Kategoriler</a>
            </div>

            <div class="col-lg-4 col-md-6">
                <a href="{% url 'urunler' %}" class="btn btn-info btn-lg w-100 dashboard-button text-light fw-bold fs-5 text-align-center my-2">Ürünler</a>
            </div>

            <div class="col-lg-4 col-md-6">
                <a href="{% url 'otomatlar' %}" class="btn btn-success btn-lg w-100 dashboard-button text-light fw-bold fs-5 text-align-center my-2">Otomatlar</a>
            </div>
        </div>

        <div class="row my-4 justify-content-center align-items-center text-center">

            <div class="col-lg-4 col-md-6">
                <a href="{% url 'user' %}" class="btn btn-warning btn-lg w-100 dashboard-button text-light fw-bold fs-5 text-align-center my-2">Kullanıcı</a>
            </div>

            <div class="col-lg-4 col-md-6">
                <a href="{% url 'home' %}" class="btn btn-danger btn-lg w-100 dashboard-button text-light fw-bold fs-5 text-align-center my-2">Abonman</a>
            </div>

        </div>
    </div>
</section>

{% endblock %}
