<!-- Base Template -->
{% extends 'layout/_base.html' %}
<!-- Static Files -->
{% load static %}

<!-- Title -->
{% block title %}- Ürün Kategori Listesi{% endblock %}
<!-- OG Title -->
{% block og_title %}Ürün Kategori Listesi{% endblock %}
<!-- TW Title -->
{% block tw_title %}Ürün Kategori Listesi{% endblock %}
<!-- Keywords -->
{% block keywords %}otomat, vending, otomasyon, crm, django{% endblock %}
<!-- Description -->
{% block description %}Otomat app{% endblock %}
<!-- OG Description -->
{% block og_description %}Otomat app{% endblock %}
<!-- TW Description -->
{% block tw_description %}Otomat app{% endblock %}
<!-- STYLE -->
{% block style %} smain { background-color: #c4c4c4 !important; } {% endblock %}
<!-- Body -->
{% block body %}
<section class="mt-4" aria-label="Category" id="category">
    <div class="container">
                <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <a href="{% url 'kategori_detay' kategori.slug %}" class="text-decoration-none">
                                    <h1 class="fs-2 link-info fw-bold">{{ kategori.ad }}</h1>
                                </a>


                            <p class="card-text text-muted fw-normal fs-5">{{ kategori.aciklama }}</p>
                            <p class="card-text text-muted lead fw-light fs-6">Bu kategoriye ait ürün sayısı: {{ urunler.count }}</p>


                                <div class="row my-2 mx-auto justify-content-center align-items-center text-end">
                                    <div class="col">
                                        <a href="{% url 'kategori_duzenle' kategori.id %}" class="btn btn-warning btn-sm" id="edit" hx-target="#kategori-edit-form" data-bs-toggle="modal" data-bs-target="#kategori-edit">Kategori Düzenle</a>
                                        <a href="{% url 'kategori_sil' kategori.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Kategori Sil</a>
                                        &nbsp;
                                        <a href="{% url 'kategoriler' %}" class="link-info fw-bold fs-6 text-decoration-underline
                                        ">Tüm Kategoriler</a>
                                        &nbsp;
                                        <a href="{% url 'urunler' %}" class="link-primary fw-bold fs-6 text-decoration-underline
                                        ">Tüm Ürünler</a>
                                    </div>
                            </div>
                            {% include "kategori/_duzenle.html" %}
                            {% include "urun/_ekle.html" %}
                            </div>
                        </div>
            </div>
        </div>

        {% include "kategori/_product.html" %}


    </section>



{% endblock %}
