<!-- Base Template -->
{% extends 'layout/_base.html' %}
<!-- Static Files -->
{% load static %}

<!-- Title -->
{% block title %}- Otomat Sırası{% endblock %}
<!-- OG Title -->
{% block og_title %}Otomat Sırası{% endblock %}
<!-- TW Title -->
{% block tw_title %}Otomat Sırası{% endblock %}
<!-- Keywords -->
{% block keywords %}otomat, vending, otomasyon, crm, django{% endblock %}
<!-- Description -->
{% block description %}Otomat app{% endblock %}
<!-- OG Description -->
{% block og_description %}Otomat app{% endblock %}
<!-- TW Description -->
{% block tw_description %}Otomat app{% endblock %}
<!-- STYLE -->
{% block style %} smain { background-color: #c4c4c4 !important; } {% endblock %}
<!-- Body -->
{% block body %}
<section class="mt-4" aria-label="Otomat Sıra" id="otomat-sira">
    <div class="container">
                <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <a class="text-decoration-none" href="{% url 'otomat_detay' sira.otomat.slug %}">
                                    <h2 class="fs-5 fw-bold text-capitalize text-decoration-none">
                                        {{ sira.otomat.ad }} - {{ sira.sira_harf }}-{{ sira.sira_no }}
                                        </a>
                                        {% if sira.durum == True %}
                                            <span class="badge bg-success rounded-pill">Aktif</span>
                                            {% else %}
                                            <span class="badge bg-danger rounded-pill">Pasif</span>
                                        {% endif %}
                                        </h2>
                                            <p class="fs-6 text-muted">
                                                <span class="fw-bold">Envanter:</span>
                                                <span class="font-monospace fw-bold fs-6
                                                {% if sira_urunler.count < 10 %} text-danger {% endif %}
                                                {% if sira_urunler.count < 50 %} text-warning {% endif %}
                                                {% if sira_urunler.count > 100 %} text-success {% endif %}
                                                ">
                                                    {{sira_urunler.count}}/{{ sira.kapasite }}</span>
                                                </p>
                            </div>
                            <div class="card-body">
                                <div class="row my-2 mx-auto justify-content-center align-items-center text-end">
                                    <div class="col">
                                        {% include "sira/_duzenle.html" %}
                                        <a href="{% url 'sira_duzenle' sira.id %}" class="btn btn-warning btn-sm" id="edit" hx-target="#otomat-sira-edit-modal" data-bs-toggle="modal" data-bs-target="#otomat-sira-edit-modal">Sıra Düzenle</a>
                                        <a href="{% url 'sira_sil' sira.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Sıra Sil</a>
                                        &nbsp;
                                        <a href="{% url 'kategoriler' %}" class="link-primary fw-bold fs-6 text-decoration-underline
                                        ">Tüm Kategoriler</a>
                                        &nbsp;
                                        <a href="{% url 'urunler' %}" class="link-primary fw-bold fs-6 text-decoration-underline
                                        ">Tüm Ürünler</a>
                                        &nbsp;
                                        <a href="{% url 'otomatlar' %}" class="link-primary fw-bold fs-6 text-decoration-underline
                                        ">Tüm Otomatlar</a>
                                    </div>
                                </div>
                                {% include "sira/_urun_ekle.html" %}
                            </div>
                        </div>
                    </div>
                    {% include "sira/_urun_liste.html" %}
                </div>
            </div>
        </section>
{% endblock %}
