{% load static %}

<!-- MARK: RSS/MANIFEST -->
<link
    rel="manifest"
    href="{% static 'site.webmanifest' %}"
    crossorigin="use-credentials"
/>
<link
    rel="alternate"
    type="application/rss+xml"
    href="{% static 'feed.xml' %}"
/>
<!-- MARK: CSS -->
<link
    rel="stylesheet"
    href="{% static 'css/style.css' %}"
    media="all"
    rel="preload"
/>
<link rel="stylesheet" href="{% static 'css/print.css' %}" media="print" />

<!-- MARK: DNS -->
<link rel="preconnect" href="https://eu.umami.is" crossorigin />
<link rel="dns-prefetch" href="https://eu.umami.is" />
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
<link rel="dns-prefetch" href="https://fonts.googleapis.com" />
<link rel="dns-prefetch" href="https://fonts.gstatic.com" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<!-- MARK: CDN  -->
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
/>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" integrity="sha256-9kPW/n5nn53j4WMRYAxe9c1rCY96Oogo/MKSVdKzPmI=" crossorigin="anonymous">

<link
    href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap"
    rel="stylesheet"
/>
<link
    href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap"
    rel="preload"
    as="style"
/>
