{% load static %}

<!-- MARK: FAVICON -->
<link
    rel="icon"
    href="{% static 'favicon/favicon.svg' %}"
    type="image/svg+xml"
    sizes="any"
/>
<link
    rel="mask-icon"
    href="{% static 'favicon/favicon.svg' %}"
    type="image/svg+xml"
    color="#ffffff"
/>
<link rel="shortcut icon" href="{% static 'favicon/favicon.svg' %}" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-config" content="{% static 'browserconfig.xml' %}" />
<link
    rel="{% static 'apple-touch-icon' %}"
    sizes="180x180"
    href="{% static 'favicon/apple-touch-icon.png' %}"
/>
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{% static 'favicon/favicon-32x32.png' %}"
/>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{% static 'favicon/favicon-16x16.png' %}"
/>
