{% load static %}
<!-- MARK: FOOTER -->
<footer
    class="clearfix container-fluid footer text-center row d-flex mb-4 pb-1 pt-1 flex-row justify-content-center bg-body-tertiary"
    style="
        width: auto;
        margin: 0;
        border-radius: 1vh;
        border: 0.1em solid var(--bs-tertiary-color);
        box-shadow: 0 0 0.2em var(--bs-tertiary-color);
    "
    id="footer"
>
    <div class="col link-info fw-semibold fs-6 font-monospace">
        <span>
            <a
                data-umami-event="Footer"
                class="in-link"
                target="_self"
                href=""
                rel="admin"
                >ADMIN</a
            ></span
        >
    </div>
    <div class="col" id="copyright">
        <copyright
            xmlns:dct="http://purl.org/dc/terms/"
            class="link-info"
            href="http://purl.org/dc/dcmitype/InteractiveResource"
            property="dct:title"
            rel="dct:type"
        >
            <a
                target="_top"
                xmlns:cc="http://creativecommons.org/ns#"
                href="http://localhost:8000/"
                property="cc:attributionName"
                rel="cc:attributionURL"
            >
                <strong>&copy; {% now "Y" %} Otomat App</strong>
            </a>
        </copyright>
    </div>
    <div class="col link-info fw-semibold fs-6 font-monospace">
        <span>
            <a
                data-umami-event="GithubSource"
                class="out-link"
                target="_blank"
                href="https://github.com/gurayalinn/"
                rel="source"
                >SOURCE</a
            ></span
        >
        <span>
            <a
                class="fs-3"
                target="_self"
                aria-label="Page Top"
                tabindex="0"
                rel="top"
                id="btn-back-to-top"
            >
                👆
            </a>
        </span>
    </div>
</footer>
