{% load static %}
<!-- MARK: SEO -->
<link rel="canonical" href="http://localhost:8000/" />
<meta name="googlebot" content="index, follow" />
<meta name="google-analytics" content="G-" />
<meta name="google-site-verification" content="KEY" />
<link rel="author" href="{% static 'humans.txt' %}" />
<link rel="copyright" href="http://localhost:8000/" />
<link rel="me" href="https://twitter.com/gurayalin" />
<link rel="me" href="https://www.linkedin.com/in/gurayalin" />
<link rel="alternate" href="http://localhost:8000/" hreflang="x-default" />
