<!-- MARK: MOBILE -->
<meta name="HandheldFriendly" content="true" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-title" content="localhost:8000" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="application-name" content="localhost:8000" />
<!-- MARK: THEME -->
<meta name="supported-color-schemes" content="light dark" />
<meta name="color-scheme" content="light dark" />
<meta
    name="theme-color"
    content="#ffffff"
    media="(prefers-color-scheme: light)"
/>
<meta
    name="theme-color"
    content="#000000"
    media="(prefers-color-scheme: dark)"
/>
